.project-card {
  width: 100%;
  height: 112px;
  border-radius: 5px;
  padding: 12px 16px;
  position: relative;

  background-image: url(https://tcs.teambition.net/thumbnail/111h6d4b4341744f1c84bb8494e2ccf7894f/w/600/h/300);
  background-color: #f7f7f7;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;

  transition: transform 300ms;

  .project-card-tool {
    display: none;
  }

  &:hover {
    .project-card-tool {
      display: block;
    }
  }
}

.project-card-header {
  height: 24px;
  z-index: 1;
  position: relative;
  display: flex;
}

.project-card-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  max-width: 100%;

  color: #fff;
  font-weight: bold;
  font-size: 16px;
  flex-grow: 1;
}

.project-card-tool {
  .iconfont {
    color: rgba(255, 255, 255, 0.7);
    margin: 0 5px;

    &:hover {
      color: #fff;
    }
  }
}

.project-card-shadow {
  background-image: linear-gradient(180deg,rgba(56,56,56,.35) 0,rgba(56,56,56,0));
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#59383838",endColorstr="#00383838",GradientType=0);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 4px 4px 0 0;
  z-index: 0;
}